/*
*   For any questions check out https://github.com/Mentor404/anilist-css/issues
*/

/* background */
:root{
    --background: url("https://www.reddit.com/media?url=https%3A%2F%2Fpreview.redd.it%2Fs7dp9of3mqn41.png%3Fauto%3Dwebp%26s%3D98b9dfd22e042c839ee6894aedf96fba5c988bd0");
                        /* Put your background here ^^ */
}

body {
    background: #000000 var(--background) center/100% fixed !important;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
}
